<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    {% include 'style.html' %}
</head>
<body>
<div id="app">
    {# Top Menu #}
    <div class="contain-fluid">
        {% include 'navbar.html' %}
    </div>
    {# Main Content #}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {# Footer #}
    <div class="container-fluid p-0 m-0">
        {% include 'footer.html' %}
    </div>
</div>
</body>
{% include 'script.html' %}
</html>

